<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h3>Car registration</h3>
  
  <div>
    <label for="number">Car number</label>
    <input id="number" type="text" formControlName="number">
    <span class="error" *ngIf="registrationForm.controls['number'].hasError('required')">required</span>
    <span class="error" *ngIf="registrationForm.controls['number'].hasError('pattern')">invalid format</span>
  </div>
  <div>
    <label for="country">Country</label>
    <select id="country" formControlName="country">
      <option value=""></option>
      <option *ngFor="let country of availableCountries" [value]="country">{{country}}</option>
    </select>
    <span class="error" *ngIf="registrationForm.controls['country'].hasError('required')">required</span>
  </div>
  <div>
    <label for="date">Date</label>
    <input id="date" type="date" formControlName="date">
    <span class="error" *ngIf="registrationForm.controls['date'].hasError('required')">required</span>
    <span class="error" *ngIf="registrationForm.controls['date'].hasError('invalidRegistrationDate')">The earliest possible date is tomorrow</span>
  </div>


  <div formGroupName="owner">
    <h4>Owner</h4>
    <div>
      <label for="id">ID</label>
      <input id="id" type="number" formControlName="id">
      <span class="error" *ngIf="ownerForm.controls['id'].hasError('required')">required</span>
    </div>
    <div>
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name">
      <span class="error" *ngIf="ownerForm.controls['name'].hasError('required')">required</span>
    </div>
    <div>
      <label for="surname">Surename</label>
      <input id="surname" type="text" formControlName="surname">
      <span class="error" *ngIf="ownerForm.controls['surname'].hasError('required')">required</span>
    </div>
    <div>
      <label for="age">Age</label>
      <input id="age" type="number" formControlName="age">
      <span class="error" *ngIf="ownerForm.controls['age'].hasError('required')">required</span>
      <span class="error" *ngIf="ownerForm.controls['age'].hasError('min')">Only adults may register a car</span>
    </div>
    <div>
      <label for="citizenship">Citizenship</label>
      <select id="citizenship" formControlName="citizenship">
        <option value=""></option>
        <option *ngFor="let country of availableCountries" [value]="country">{{country}}</option>
      </select>
      <span class="error" *ngIf="ownerForm.controls['citizenship'].hasError('required')">required</span>
      <span class="error" *ngIf="registrationForm.hasError('countryIsEmpty')">
        Please enter the country of car registration
      </span>
      <span class="error" *ngIf="registrationForm.hasError('differentCountryAndCitizenship')">
        Only citizen of {{registrationForm.controls['country'].value}} can register cars in {{registrationForm.controls['country'].value}}
      </span>
      <!-- heroForm.errors?.['identityRevealed'] -->
    </div>
  </div>


  <div formGroupName="car">
    <h4>Car</h4>
    <div>
      <label for="id">ID</label>
      <input id="id" type="number" formControlName="id">
      <span class="error" *ngIf="carForm.controls['id'].hasError('required')">required</span>
      <span class="error" *ngIf="carForm.controls['id'].hasError('alreadyRegistratedAsync')">Car is alredy registrated</span>
    </div>
    <div>
      <label for="brand">Brand</label>
      <input id="brand" type="text" formControlName="brand">
      <span class="error" *ngIf="carForm.controls['brand'].hasError('required')">required</span>
    </div>
    <div>
      <label for="model">Model</label>
      <input id="model" type="text" formControlName="model">
      <span class="error" *ngIf="carForm.controls['model'].hasError('required')">required</span>
    </div>
  </div>

  <button type="submit" [disabled]="registrationForm.invalid">Submit</button>
</form>